/**
 * TenUpScaffold: Gutenberg Blocks Styles
 * https://project-website.tld
 */

/**
 * Example block styles
 */
.tenup-blocks-content-list {
	background-color: var(--ts-gray-light);
	padding: 20px;
}

.tenup-blocks-content-list__items {
	background-color: var(--ts-gray-lighter);
	border: 3px dashed var(--ts-gray);
	margin-left: 20px;
	padding: 5px 20px;
	position: relative;
}
